@font-face {
    font-family: IRANSans;
    font-weight: normal;
    src: url('fonts/iran/woff/IRANSansWeb.woff');
}

@font-face {
    font-family: IRANSans-bold;
    font-weight: bold;
    src: url('fonts/iran/woff/IRANSansWeb_Bold.woff');
}

* {
    font-family: IRANSans;
}